* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header h1 a {
  display: flex;
  background-color: #806bdc;
  padding: 14px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 26px;
  text-decoration: none;
  cursor: pointer;
}

nav ul li img {
  width: 80px;
  height: 70px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 24px 120px;
}

nav ul li {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  font-weight: 550;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.items a:hover {
  color: #806bdc;
}

.items {
  background-color: white;
}

.mainimg {
  background-color: lightgray;
  padding: 32px 124px;
}

.mainimg img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.mainimg h1 {
  color: black;
  font-size: 26px;
  padding: 32px 0 16px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #806bdc;
}

table tr,
th,
td {
  border: 1px solid grey;
  padding: 12px;
}

.text {
  background-color: white;
  color: grey;
  padding: 16px 32px;
}

.text div {
  padding: 16px 0;
}

.text h1 {
  font-size: 18px;
}

.text .textfirsth1 {
  font-size: 24px;
}

.text p,
ul {
  font-size: 12px;
}

.secondtext ul {
  padding: 0 15px;
}

.firsttext h1,
.thirdtext h1,
.firsttextp,
.secondtextp {
  padding: 0 0 12px;
}

footer {
  background-color: black;
  color: white;
  padding: 32px 0;
  text-align: center;
  font-size: 10px;
  font-weight: 0;
}
